<div class="login-form-wrapper">
    <sg-flash-message></sg-flash-message>
    <div id="login-form" class="login-form-box">
        <h1>Sign In</h1>
        <form (ngSubmit)="login()" #f="ngForm" class="login-form">
            <div class="form-group">
                <label for="username" class="control-label">Username or email</label>
                <input type="text" autocomplete="off" #username="ngModel" [(ngModel)]="user.username" name="username" id="username" class="form-control" required placeholder="username">
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="password" autocomplete="off" #password="ngModel" [(ngModel)]="user.password" name="password" id="password" class="form-control" required placeholder="password">
            </div>
            <div class="form-group">
                <sg-button
                    content="sign in"
                    [buttonType]="submit"
                    [styleClasses]="['btn', 'btn-primary']"
                    [isLoading]="loginLoading"
                    [iconClasses]="['glyphicon', 'glyphicon-send']"></sg-button>
            </div>
        </form>
    </div>
</div>