.login-form-wrapper {
  .login-form-box {
    border: #ccc 1px solid;
    padding: 20px;
    width: 400px;
    height: 300px;
    margin: -150px -200px 0;
    position: absolute;
    top: 40%;
    left: 50%;
  }
}