.login-form-wrapper {
  width: 500px;
  height: 600px;
  margin: -300px -250px 0;
  position: absolute;
  left: 50%;
  top: 42%;
  .login-form-box {
    border: #ccc 1px solid;
    padding: 20px;
    width: 420px;
    left: 50%;
    height: 300px;
    margin: -150px -210px 0;
    position: absolute;
    top: 40%;
  }
}