.sg-alert {
  z-index: 1000;
  position: relative;
  display: block;
  -webkit-transition: opacity .8s ease-in-out 0s, margin-top .5s ease-out 0s;
      -ms-transition: opacity .8s ease-in-out 0s, margin-top .5s ease-out 0s;
          transition: opacity .8s ease-in-out 0s, margin-top .5s ease-out 0s;
}