<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Places Manager</h2></div>
                <div class="panel-body">
                    <sg-user-form [listId]="listId" [user]="user"></sg-user-form>
                    <div class="line-separator"></div>
                    <sg-user-list [listId]="listId" (onEditUser)="fillForm($event)"></sg-user-list>
                </div>
            </div>
        </div>
    </div>
</div>