<header class="header">
    <nav class="navbar navbar-default" id="header-navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']"><a routerLink="/" id="link-home">Home</a></li>
                    <li role="presentation" class="dropdown" dropdown>
                        <a id="dropdown-maps" href dropdownToggle (click)="false">Maps <span class="caret"></span></a>
                        <ul *dropdownMenu role="menu" class="dropdown-menu" aria-labelledby="dropdown-maps">
                            <li [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" role="menuitem"><a class="dropdown-item" routerLink="/map" id="link-maps">Principal page</a></li>
                            <li [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" role="menuitem"><a class="dropdown-item" routerLink="/map/places" id="link-maps">Place Manager</a></li>
                        </ul>
                    </li>
                    <li [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" role="menuitem"><a routerLink="/users" id="link-maps">Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" [hidden]="!isLoggedIn">
                    <li><a (click)="logout($event)" href="#" id="link-logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <sg-flash-message></sg-flash-message>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<footer class="footer">
  <p class="text-center">copyright 2017 &copy;</p>
</footer>