<h3>Add a new Place</h3>
<h4>Search an address and save a new place!</h4>
<form class="form-horizontal" role="creation" (ngSubmit)="savePlace($event)">
    <div class="form-group">
        <div class="col-xs-12 col-md-9 col-lg-10">
            <input type="text" class="form-control search-address-input" #search placeholder="Search an address..." id="google-maps-search-input">
        </div>
        <div class="col-xs-12 col-md-3 col-lg-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
    <sebm-google-map
        [latitude]="latitude"
        [longitude]="longitude"
        [zoom]="zoom"
        [disableDefaultUI]="false">
        <sebm-google-map-marker 
          *ngFor="let place of places;"
          [latitude]="place.coordinates[0]"
          [longitude]="place.coordinates[1]">
      </sebm-google-map-marker>
    </sebm-google-map>
</form>