<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Places Manager - Place List</h2></div>
                <div class="panel-body">
                    <a class="btn btn-primary" routerLink='/map/places/create'>
                        <i class="glyphicon glyphicon-add"></i>
                        Create new place
                    </a>
                    <table class="table table-hover table-stripped">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Nr Adress</th>
                                <th>Country</th>
                                <th>State/Pronvice</th>
                                <th>City</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>