<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Places Manager</h2></div>
                <div class="panel-body">
                    <sg-search-place></sg-search-place>
                    <table class="table table-hover table-stripped">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Nr Adress</th>
                                <th>Country</th>
                                <th>State/Pronvice</th>
                                <th>City</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>