<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Places Manager</h2></div>
                <div class="panel-body">
                    <sg-place-creation [listId]="listId" [places]="places"></sg-place-creation>

                    <div class="line-separator"></div>

                    <table class="table table-hover table-stripped">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Nr Adress</th>
                                <th>Country</th>
                                <th>State/Pronvice</th>
                                <th>City</th>
                                <th class="actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let place of places">
                                <td>{{place.address}}</td>
                                <td>{{place.number_address}}</td>
                                <td>{{place.country}}</td>
                                <td>{{place.state}}</td>
                                <td>{{place.city}}</td>
                                <td class="actions">
                                    <a href="#" (click)="removePlace($event,place)" tooltip="Remove the place"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>