<table class="table table-hover table-stripped" [hidden]="users.length === 0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td class="actions">
                <button (click)="removeUser($event, user)" class="btn btn-link" [disabled]="loggedUser.username === user.username" tooltip="Remove the user"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<sg-confirm-modal #confirmModal='sg-confirm-modal' [title]="confirmTitle" [message]="confirmMessage" (onConfirm)="onRemoveConfirm($event)" (onCancel)="onRemoveCancel($event)"></sg-confirm-modal>

<div class="alert alert-info" [hidden]="users.length > 0">
    <p>No users registered! Please register some places ;)</p>
</div>
