<h3>User list</h3>
<button (click)="loadUsers()" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> refresh</button>
<table class="table table-hover table-stripped" [hidden]="users.length === 0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Email verified</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.checked_email ? 'yes' : 'no'}}</td>
            <td class="actions">
                <button (click)="confirmRemoveUser($event, user)" class="btn btn-link" [disabled]="loggedUser.username === user.username" tooltip="Remove user"><i class="glyphicon glyphicon-trash"></i></button>
                <button (click)="editUser($event, user)" class="btn btn-link" tooltip="Edit user"><i class="glyphicon glyphicon-pencil"></i></button>
                <button (click)="sendEmailVerification($event, user)" class="btn btn-link" [disabled]="user.checked_email"><i class="glyphicon glyphicon-envelope" tooltip="Verify user email"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<sg-confirm-modal
    #confirmModal='sg-confirm-modal'
    [title]="confirmTitle"
    [message]="confirmMessage"
    (onConfirm)="onRemoveConfirm($event)"
    (onCancel)="onRemoveCancel($event)" confirmText="yes" cancelText="no">
</sg-confirm-modal>

<div class="alert alert-info" [hidden]="users.length > 0">
    <p>No users registered! Please register some places ;)</p>
</div>
