@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.img-wrapper {
    max-width: 350px;
    margin: 5px auto;
}

@media (min-width: $screen-sm-min) {
    .pull-right-sm {
        float: right;
    }
}
@media (min-width: $screen-md-min) {
    .pull-right-md {
        float: right;
    }
}
@media (min-width: $screen-lg-min) {
    .pull-right-lg {
        float: right;
    }
}