<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Project Examples</h2></div>
                <div class="panel-body">
                    <a routerLink="/map" class="btn btn-primary"><i class="glyphicon glyphicon-cog"></i> <span class="text">Maps</span></a>
                    <a routerLink="/users" class="btn btn-primary"><i class="glyphicon glyphicon-cog"></i> <span class="text">Users</span></a>
                </div>
            </div>
        </div>
    </div>
</div>