<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Home</h2></div>
                <div class="panel-body">
                    <h3>Welcome!</h3>
                    <p>This App was created to study the features of the new Angular 2 (and 4).</p>
                    <p>The features are listed on the following buttons:</p>

                    <div>
                        <a routerLink="/map" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-cog visible-xs-inline visible-sm-inline visible-md-inline visible-lg-block"></i> <span class="text">Maps</span></a>
                        <a routerLink="/users" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-cog visible-xs-inline visible-sm-inline visible-md-inline visible-lg-block"></i> <span class="text">Users</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>